---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores((area(80202,25)))?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":17,"totalPages":2,"queryTime":"0.008","totalTime":"0.027","partial":false,"canonicalUrl":"/v1/stores((area(\"80202\",25)))?format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7","stores":[{"storeId":2740,"storeType":"Mobile
        SAS","tradeIn":null,"name":"CHERRY CREEK MALL","longName":"Cherry Creek Shopping
        Center","address":"3000 East First Ave","address2":"Ste 296","city":"Denver","region":"CO","fullPostalCode":"80206-5637","country":"US","lat":39.72,"lng":-104.95,"hours":"Sun:
        11-6; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9;
        Sun: 11-6; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9","hoursAmPm":"Sun:
        11am-6pm; Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri:
        10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm; Mon: 10am-9pm; Tue: 10am-9pm; Wed:
        10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm","gmtOffset":-6,"services":[{"service":"Trade-In"}],"phone":"303-270-9189","postalCode":"80206","distance":3.45},{"storeId":1224,"storeType":"Big
        Box","tradeIn":null,"name":"BELMAR CO","longName":"Belmar","address":"384
        S Wadsworth Blvd","address2":"","city":"Lakewood","region":"CO","fullPostalCode":"80226-3102","country":"US","lat":39.71,"lng":-105.08,"hours":"Sun:
        10-8; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9;
        Sun: 10-8; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9","hoursAmPm":"Sun:
        10am-8pm; Mon: 10am-9pm; Tu[...]
[...]
